.section-book {
  grid-template-rows: auto;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  padding: 10rem 0;
}
.book {
  width: 80vw;
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10-small.jpg);
  background-size: cover; // or 100%

  @media (min-width: 125em) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
  }

  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10-small.jpg);
  }

  @include respond(tab-port) {
    //900px
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%,
        transparent 0%
      ),
      url(../img/nat-10-small.jpg);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 4rem;
    justify-content: start;
    align-content: center;
    width: 50%;
    padding: 6rem;
    @include respond(tab-land) {
      width: 65%;
    }
    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(phone) {
      padding: 6rem 2rem;
    }
  }

  &__call-me,
  &__email-me {
    color: $color-primary;
    font-size: 4rem;
    @include respond(phone) {
      font-size: 2rem;
    }
  }
  &__email-me {
    font-size: 3rem;
    & > a {
      text-decoration: none;
      &:visited {
        color: $color-primary;
      }
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
