.book {
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                    transparent 50%), 
                        url(../img/nat-10-small.jpg);
    background-size: cover; // or 100%

    @media (min-width: 125em) {
        background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                    transparent 50%), 
                     url(../img/nat-10.jpg);
    }
    
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 65%,
                    transparent 65%), 
            url(../img/nat-10-small.jpg);
    }

    @include respond(tab-port) {//900px
        background-image: linear-gradient(to right, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 100%,
                    transparent 0%), 
            url(../img/nat-10-small.jpg);
    }
   
    &__form {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-row-gap: 4rem;
        justify-content: start;
        align-content: center;
        width: 50%;
        padding: 6rem;
        @include respond(tab-land) {
            width: 65%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
    &__heading {
        grid-row:1/2;
        justify-self: start;
        align-self:center;
    }
    &__btn {
        grid-row:3/4;
        justify-self: start;
        align-self:center;
    }
    &__call-me {
        color:$color-primary;
        font-size:4rem;
        @include respond(phone) {
            font-size:2rem;
        }

    }
}