.modal {
  position: fixed;
  top: 0;
  right: 0;

  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-items: flex-start;

  color: white;
  padding: 6rem;
  width: 0;
  opacity: 0;
  ul li {
    list-style: none;
    text-align: left;
    a {
      text-decoration: none;
    }
  }

  &--active {
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );

    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: 110;
  }
}
