.section-work {
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 3rem;
  padding-top: 8rem;
}

.work-filter,
.inner-container {
  grid-column: 1/2;
  grid-row: 1/1;
}
.work-filter {
  position: relative;
  background-color: #5643fa;
  border-radius: 50%;
  border: 15px solid white;

  width: 200px;
  height: 200px;
  z-index: 5;
  color: white;
  text-align: center;
  text-transform: uppercase;
  display: grid;
  align-items: center;
  &::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    height: 12px;
    left: 50%;
    margin-left: -7px;
    margin-top: 25px;
    position: absolute;
    top: 50%;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
  }
}
